{% extends 'shop/base.html' %}
{% block content %}
    <h2 class="section-title">Товари сезону</h2>
    <div class="products-grid">
        {% for product in products %}
            <div class="product-card">
                <div class="product-image-placeholder"><span>🌱</span></div>
                <h3 class="product-title">{{ product.title }}</h3>
                <p class="product-price">{{ product.price }} грн</p>
                <p class="product-category">Категорія: {{ product.category.name }}</p>
                <button class="btn-buy">КУПИТИ</button>
            </div>
        {% empty %}
            <p class="empty-message">Товарів не знайдено.</p>
        {% endfor %}
    </div>

    <div class="pagination-wrapper">
        <div class="pagination-box">
            {% if products.has_previous %}
                <a href="?page=1" class="p-link">« Перша</a>
                <a href="?page={{ products.previous_page_number }}" class="p-link">Назад</a>
            {% endif %}
            <span class="pagination-text">Сторінка {{ products.number }} з {{ products.paginator.num_pages }}</span>
            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}" class="p-link">Вперед</a>
            {% endif %}
        </div>
    </div>
{% endblock %}