{% extends 'shop/base.html' %}

{% block content %}
<div class="auth-wrapper">
    <h1 class="section-title auth-title">Вхід в кабінет</h1>

    <form method="post" class="review-form">
        {% csrf_token %}

        <div class="auth-form-group">
            <label>Логін</label>
            <input type="text" name="username" class="form-input" required>
        </div>

        <div class="auth-form-group">
            <label>Пароль</label>
            <input type="password" name="password" class="form-input" required>
        </div>

        <button type="submit" class="btn-buy btn-auth">Увійти</button>
    </form>

    <p class="auth-links">
        Немає акаунту? <a href="{% url 'signup' %}">Зареєструватись</a>
    </p>
</div>
{% endblock %}