{% extends 'shop/base.html' %}

{% block content %}
    <h2 style="color: var(--dark-green);">Мій кабінет</h2>
    <div style="text-align: center; padding: 50px; border: 2px dashed #ccc;">
        <div style="font-size: 50px;">👤</div>
        <h3>Вітаємо, Ілля!</h3>
        <p>Тут ви зможете бачити історію своїх замовлень та змінювати персональні дані.</p>
        <button style="background: var(--dark-green); color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">Редагувати профіль</button>
    </div>
{% endblock %}

